{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div style="text-align: center">
        <img src="/karl.jpg" style="margin: 0 auto; border-radius: 50%; margin-bottom: 30px">
        <p style="margin-top: 15px; margin-bottom: 20px;">Hi! I'm an indie game developer and gamedev tools creator.</p>

        <br>
        <h2>Current project</h2>
        <a href="https://store.steampowered.com/app/2781210/CAT__ONION" style="margin: 0 auto;"><img src="/cat-and-onion-logo.png" alt="CAT &amp; ONION" style="margin-top: 20px; width: 60%; display: inline-block;"></a>

        <p style="margin-top: 10px; font-size: 20px; font-weight: bold;">
            <a href="https://store.steampowered.com/app/2781210/CAT__ONION">Steam Page</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/cat-and-onion-presskit">Presskit</a>
        </p>

        <br>
        <br>
        <p><strong>Past: </strong><a href="http://www.friendlyfoe.se">Friendly Foe</a>, <a href="https://ruby0x1.github.io/machinery_blog_archive/">Our Machinery</a>, <a href="https://www.hazelight.se/">Hazelight</a> &amp; <a href="http://bitsquid.blogspot.com/">Bitsquid</a></p>
    </div>
</article>
{{- end -}}
