.nav {
    margin: 0 auto;
    margin-top: 10px;
    margin: auto var(--gap);
    text-align: center;
}

.nav a {
    display: inline-block;
}

.nav a {
    flex-shrink: 0;
}


.nav a {
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}

.nav a img, .nav a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    vertical-align: middle;
}

body.dark #moon {
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    float: right;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}


#menu a {
    margin-left: 10px;
}


#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
