.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: 0 var(--gap);
}

.odin-tutoring-link {
    display: block;
    margin: auto;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.odin-tutoring-link img {
    border-radius: 5px;
}

.projects {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .projects {
        grid-template-columns: auto;
    }
}

.project {
    background: var(--entry);
    border-radius: 20px;
}

.project .cover {
    display: inline-block;
    border-radius: 20px 20px 0 0;
}

.project p {
    margin-top: 10px;
}

.project .desc {
    display: block;
}

.project .links {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.project .links a {
    margin-right: 10px;
    margin-left: 10px;
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons a {
    margin-top: 6px;
    display: inline-block;
    margin-left: 20px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
