{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div style="text-align: center">
        <img src="/karl.jpg" style="margin: 0 auto; border-radius: 50%; margin-bottom: 30px">
        <p style="margin-top: 15px; margin-bottom: 20px;">Hi! I'm a game developer and programming educator. Below you'll find my projects and my blog.</p>

        <div class="project" style="margin-top: 30px">
            <a href="https://odinbook.com" style="margin: 0 auto;">
                <img src="/understanding_odin.jpg" alt="Understanding the Odin Programming Language" class="cover">
            </a>

            <p>Do you want to learn Odin and demystify low-level programming? Then this book is for you!</p>

            <p class="links">
                <a href="https://odinbook.com">Website</a>
            </p>
        </div>

        <div class="project" style="margin-top: 50px;">
            <a href="https://store.steampowered.com/app/2781210/CAT__ONION" style="margin: 0 auto;">
                <img src="/cat-and-onion-logo.png" alt="CAT &amp; ONION" class="cover">
            </a>

            <p>A short cat adventure packed with curious characters, strange environments and good vibes!</p>

            <p class="links">
                <a href="https://store.steampowered.com/app/2781210/CAT__ONION">Steam</a>
                <a href="https://zylinski.itch.io/cat-and-onion">Itch</a>
                <a href="/cat-and-onion-presskit">Presskit</a>
            </p>
        </div>

        <br>
        <br>
        <p><strong>Past: </strong><a href="http://www.friendlyfoe.se">Friendly Foe</a>, <a href="https://ruby0x1.github.io/machinery_blog_archive/">Our Machinery</a>, <a href="https://www.hazelight.se/">Hazelight</a> &amp; <a href="http://bitsquid.blogspot.com/">Bitsquid</a></p>
    </div>
</article>
{{- end -}}
