{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div style="text-align: center">
        <div class="hello">
            <img src="/karl.jpg" alt="A picture of me!">
            <div>
                <p><strong>Hi, I'm Karl Zylinski!</strong> I'm a game developer and programming educator. I've made these things:</p>
            </div>
        </div>

        <div class="projects">
            <div class="project">
                <a href="https://odinbook.com" style="margin: 0 auto;">
                    <img src="/understanding_odin.jpg" alt="Understanding the Odin Programming Language" class="cover">
                </a>

                <p class="desc">Do you want to learn Odin and demystify low-level programming? Then this book is for you!</p>

                <p class="links">
                    <a href="https://odinbook.com">Website</a>
                </p>
            </div>

            <div class="project">
                <a href="https://store.steampowered.com/app/2781210/CAT__ONION" style="margin: 0 auto;">
                    <img src="/cat-and-onion-logo.png" alt="CAT &amp; ONION" class="cover">
                </a>

                <p class="desc">A short cat adventure packed with curious characters, strange environments and good vibes!</p>

                <p class="links">
                    <a href="https://store.steampowered.com/app/2781210/CAT__ONION">Steam</a>
                    <a href="https://zylinski.itch.io/cat-and-onion">Itch</a>
                    <a href="/cat-and-onion-presskit">Presskit</a>
                </p>
            </div>
        </div>
    </div>

</article>
<h1 style="text-align: center; margin-top: 60px;">Latest Newsletter</h1>
<div id="substack-feed-embed" style="margin-top: 25px;"></div>
<script>
  window.SubstackFeedWidget = {
    substackUrl: "news.zylinski.se",
    posts: 1,
    colors: {
      primary: "var(--primary)",
      secondary: "var(--secondary)",
      background: "var(--entry)",
    }
  };
</script>
<script src="https://substackapi.com/embeds/feed.js" async></script>

{{- end -}}




<h1 style="text-align:center; margin-top: 60px; display: block;">Blog</h1>
<br>