

img[src$='#floatleft']
{
    float: left;
}

.need-help-box {
    font-size: 16px;
    margin: 0 auto;
    max-width: calc(var(--main-width) + var(--gap) * 2);
}

.need-help-box-inner {
    margin-top: 20px;
    text-align: center;
    margin-left: var(--gap);
    margin-right: var(--gap);
    border: 2px dashed var(--friendly);
    border-radius: 10px;
    padding: 5px 8px 8px 8px;
}

.need-help-box a {
    text-decoration: underline;
}

.need-help-box a:hover {
    color: var(--primary);
}

a.social {

}

.logo a svg {
    margin: 0;
}

a.social svg {
    width: 16px;
    height: 16px;
}

.csw-branding {
    display: none;
}