

img[src$='#floatleft']
{
    float: left;
}

.need-help-box {
    margin: 0 auto;
    max-width: calc(var(--main-width) + var(--gap) * 2);
}

.need-help-box-inner {
    margin-top: 10px;
    text-align: center;
    margin-left: var(--gap);
    margin-right: var(--gap);
    border: 2px dashed var(--friendly);
    border-radius: 10px;
    padding: 5px 7px 10px 7px;
}

.need-help-box a {
    text-decoration: underline;
}

.need-help-box a:hover {
    color: var(--primary);
}

