

img[src$='#floatleft']
{
    float: left;
}

.need-help-box {
    border: 2px dashed var(--friendly);
    border-radius: 10px;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    max-width: 400px;
}

.need-help-box p:first-child {
    margin-bottom: 15px;
}